{% extends 'base.html' %}

{% block content %}

<img src = '{{current_user.img_url}}' width = '100px' height = '100px'>
{{current_user.name()}}
<br>

{% for post in current_posts %}
<li>{{post.id}}</li>
<li>{{post.post_user}}</li>
<li><a href ="/info/{{post.id}}">{{post.title}}</a></li>


{% endfor %}
<br>

<form action= '/edit/{{current_user.id}}'>
<button>Edit</button>
</form>

<form action= '/add_post/{{current_user.id}}'>
    <button>Add post</button>
    </form>

<form action = 'delete/{{current_user.id}}'>
<button>Delete</button>

</form>
<form action = '/'>
<button>Return Home</button>
</form>

{% endblock %}